<div class="card mx-auto mt-5" style="width: 30rem;">
    <div class="card-header text-center">
        <h5 class="card-title">Fund Transfer</h5>
    </div>
    <div class="card-body">
        <form #myForm="ngForm" (ngSubmit)="transferFund(myForm.value)">
            <div class="mb-3">
                <label for="senderAccountNumber" class="form-label">Sender Account Number</label><font color="red">*</font> 
                <input type="text" class="form-control" name="senderAcountNumber"  required pattern="[0-9]+" #senderAcountNumber="ngModel" ngModel >
                <div *ngIf="senderAcountNumber.touched">
                    <div *ngIf="senderAcountNumber.errors?.['required']">
                       <font color="red">Sender Account Number is Required</font>    
                   </div>
                   <div *ngIf="senderAcountNumber.errors?.['pattern']">
                    <font color="red">Invalid Sender Account Number.Please enter digits only.</font> 
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="receiverAccountNumber" class="form-label">Receiver Account Number</label><font color="red">*</font> 
                <input type="text" class="form-control" name="receiverAccountNumber" required pattern="[0-9]+" #receiverAccountNumber="ngModel" ngModel>
                <div *ngIf="receiverAccountNumber.touched">
                    <div *ngIf="receiverAccountNumber.errors?.['required']">
                       <font color="red">Receiver Account Number is Required</font>    
                   </div>
                   <div *ngIf="receiverAccountNumber.errors?.['pattern']">
                    <font color="red">Invalid Receiver Account Number.Please enter digits only.</font> 
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="mb-3">
                <label for="reference" class="form-label">Reference</label>
                <input type="text" class="form-control" name="reference" ngModel>
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label><font color="red">*</font> 
                <input type="text" class="form-control" name="amount" required pattern="[0-9]+" #amount="ngModel" ngModel>
                <div *ngIf="amount.touched">
                    <div *ngIf="amount.errors?.['required']">
                       <font color="red">Amount is Required</font>    
                   </div>
                   <div *ngIf="amount.errors?.['pattern']">
                    <font color="red">Invalid Amount.Please enter digits only.</font> 
                    </div>
                </div>
            </div>
            <div class="d-grid col-6 mx-auto">
                <button type="submit" class="btn btn-dark">Transfer Fund</button>
            </div>
        </form>
    </div>
  </div>
