<!-- <div *ngIf="flag" class="card mx-auto mt-5" style="width: 30rem;">
    <p *ngIf="flagMsg" class="text-center"><font color="green">{{msg?.message }}</font></p>
    <p *ngIf="flagError" class="text-center"><font color="red">{{ msg?.error?.message }}</font></p>
</div> -->
<div class="card mx-auto mt-5" style="width: 30rem;">
    <div class="card-header text-center">
        <h5 class="card-title">Fund Transfer</h5>
    </div>
    <div class="card-body">
        <form #myForm="ngForm" (ngSubmit)="transferFund()">
            <div class="mb-3">
                <label for="senderUsername" class="form-label">Sender Username</label><font color="red">*</font> 
                <input type="text" class="form-control" name="senderUsername"  required pattern="[a-zA-Z][a-zA-Z]+" #senderUsername="ngModel" ngModel >
                <div *ngIf="senderUsername.touched">
                    <div *ngIf="senderUsername.errors?.['required']">
                       <font color="red">Sender Username is Required</font>    
                   </div>
                   <div *ngIf="senderUsername.errors?.['pattern']">
                    <font color="red">Invalid Sender Username.</font> 
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="receiverAccountNumber" class="form-label">Receiver Account Number</label><font color="red">*</font> 
                <input type="text" class="form-control" name="receiverAccountNumber" required pattern="[0-9]+" #receiverAccountNumber="ngModel" ngModel>
                <div *ngIf="receiverAccountNumber.touched">
                    <div *ngIf="receiverAccountNumber.errors?.['required']">
                       <font color="red">Receiver Account Number is Required</font>    
                   </div>
                   <div *ngIf="receiverAccountNumber.errors?.['pattern']">
                    <font color="red">Invalid Receiver Account Number.Please enter digits only.</font> 
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label><font color="red">*</font> 
                <input type="text" class="form-control" name="amount" required pattern="[0-9]+" #amount="ngModel" ngModel>
                <div *ngIf="amount.touched">
                    <div *ngIf="amount.errors?.['required']">
                       <font color="red">Amount is Required</font>    
                   </div>
                   <div *ngIf="amount.errors?.['pattern']">
                    <font color="red">Invalid Amount.Please enter digits only.</font> 
                    </div>
                </div>
            </div>
            <div class="d-grid col-6 mx-auto">
                <button type="submit" class="btn btn-dark">Transfer Fund</button>
            </div>
        </form>
    </div>
  </div>
