<div class="card mx-auto mt-5" style="width: 30rem;">
    <div class="card-header text-center">
        <h5 class="card-title">Update Password</h5>
    </div>
    <div class="card-body">
        <form #myForm="ngForm" (ngSubmit)="updatePassword(myForm.value)">
            <div class="mb-3">
                <label for="username" class="form-label">userName</label>
                <input type="text" class="form-control" name="username" required pattern="[a-zA-Z][a-zA-Z]+" #username="ngModel" ngModel>
                <div *ngIf="username.touched">
                    <div *ngIf="username.errors?.['required']">
                       <font color="red">Username Required</font>    
                   </div>
                   <div *ngIf="username.errors?.['pattern']">
                    <font color="red">Invalid Username</font> 
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="currentPassword" class="form-label">Current Password</label>
                <input type="text" class="form-control" name="currentPassword" required pattern="^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9]+$" #currentPassword="ngModel" ngModel>
                <div *ngIf="currentPassword.touched">
                    <div *ngIf="currentPassword.errors?.['required']">
                       <font color="red">Current password Required</font>    
                   </div>
                   <div *ngIf="currentPassword.errors?.['pattern']">
                    <font color="red">Invalid password</font> 
                    </div>
                </div> 
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="text" class="form-control" name="newPassword" required pattern="^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9]+$" #newPassword="ngModel" ngModel > 
                <div *ngIf="newPassword.touched">
                    <div *ngIf="newPassword.errors?.['required']">
                       <font color="red">New password Required</font>    
                   </div>
                   <div *ngIf="newPassword.errors?.['pattern']">
                    <font color="red">Invalid password</font> 
                    </div>
                </div> 
            </div>
            <div class="d-grid col-6 mx-auto">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
</div>

